<div class="container">
	<div class="content">
		<h1>
			{{title}}
		</h1>
		<hr>
		<div id="content-body" class="flex-center-column">
			<div id="errorMsg" *ngIf="geolocaltionErrMsg">{{geolocaltionErrMsg}}</div>
			<div *ngIf="!weatherOverView">
				<div id="loading-icon">
					<fa *ngIf="isGettingGeo" name="map-o" class="ani-blink" size="3x"></fa>
					<fa *ngIf="!isGettingGeo" name="snowflake-o" animation="spin" size="3x"></fa>
				</div>
				{{statusMsg}}
			</div>

			<app-weather
				*ngIf="weatherOverView"
				[weather]="weatherOverView">
			</app-weather>
		</div>
		<app-footer></app-footer>
	</div>
</div>
