<div class="container">
	<div class="content">
		<div id="content-header">
			<h1>
				{{title}}
			</h1>
			<a id="refresh-btn"
				(click)="refresh()"
				class="flex-center-column">
				<fa *ngIf="weatherOverView" name="refresh" animation="" size="2x"></fa>
				<fa *ngIf="!weatherOverView" name="refresh" animation="spin" size="2x" class="disabled"></fa>
			</a>
		</div>
		<hr>
		<div id="content-body" class="flex-center-column">
			<div id="errorMsg" *ngIf="geolocaltionErrMsg">{{geolocaltionErrMsg}}</div>
			<div *ngIf="!weatherOverView">
				<div id="loading-icon">
					<fa *ngIf="isGettingGeo" name="map-o" class="ani-blink" size="3x"></fa>
					<fa *ngIf="!isGettingGeo" name="snowflake-o" animation="spin" size="3x"></fa>
				</div>
				{{statusMsg}}
			</div>

			<app-weather
				*ngIf="weatherOverView"
				[@fadeInOut]="weatherOverView"
				[weather]="weatherOverView">
			</app-weather>
		</div>
		<app-footer></app-footer>
	</div>
</div>
